<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1> About </h1>
      <nav>
        <a href="/"> Home </a>
        <a href="/about" class='active'> About Kevin </a>
        <a href="/photos"> Photos </a>
        <a href="/quiz"> Quiz </a>
      </nav>
    </header>
    <div class='centerbox aboutbox'>
      <h2> About Kevin Malone </h2>
      <section>
      <img class='aboutPic' src="/images/about.jpg">
      <p> Kevin Malone is an accounant employed at Dunder Mifflin Paper Company,
        at the Scranton branch. Kevin recently broke-up with his fiance, so
        he is a single man, for all you ladies out there. He has a single sister
        who lives near him. He is a fantastic cook, with his specialty being chili.
        He is a fairly caring person, and typically happy. He does not particularly
        enjoy eating vegetables, and his favorite candy is M&Ms.</p>
      <h3> Contact Info </h3>
      <ul>
        <li> Email: kevin.malone@dundermifflin.com </li>
        <li> Phone: 852-321-6969 </li>

      </ul>
    </section>
    </div>
  </body>
</html>
