<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1> Kevin Malone's Website </h1>
      <nav>
        <a href="/" class='active'> Home </a>
        <a href="/about"> About Kevin </a>
        <a href="/photos"> Photos </a>
        <a href="/quiz"> Quiz </a>
      </nav>
    </header>
    <div class="centerbox">
      <h2> What is this site? </h2>
      <p> This is website is dedicated to this man, depicted below, Kevin Malone<br>
      For more information about this man, click the 'About' tab above, <br>
      or to view photos, visit our photo gallery!</p>
      <img src="/images/home.jpg">
      <script src="/js/jquery.js"></script>
      <script src="/js/main.js"></script>
    </div>
  </body>
</html>
