<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Gallery</title>
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1> Photo Gallery </h1>
      <nav>
        <a href="/"> Home </a>
        <a href="/about"> About Kevin </a>
        <a href="/photos" class='active'> Photos </a>
        <a href="/quiz"> Quiz </a>
      </nav>
    </header>
    <div class='photogallerybox centerbox'>
      <h2> Click Image to view fullsize </h2>
      <div class='row'>
        <div class='entry'>
          <img src='/images/vegetable.gif'></img>
          <p> Kevin enjoying some fresh cooked broccoli. </p>
        </div>
        <div class='entry'>
          <img src='/images/chili.gif'></img>
          <p> Quick shot of Kevin's world famous chili </p>
        </div>
        <div class='entry'>
          <img src='/images/laughing.gif'></img>
          <p> A picture of Kevin after he was told that he's beautiful. </p>
        </div>
        <div class='entry'>
          <img src='/images/oops.gif'></img>
          <p> Kevin realized that he had an accident. </p>
        </div>
      </div>
      <div class='row'>
        <div class='entry'>
          <img src='/images/number.gif'></img>
          <p> Kevin talking about his favorite number </p>
        </div>
        <div class='entry'>
          <img src='/images/hard.gif'></img>
          <p> Kevin's hardworking ethic </p>
        </div>
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
